<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contato</title>
    <link rel="stylesheet" href="/contato.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/T0r5M2H/logo-ong.png" />
  </head>
  <body>
    <!--Menú-->
      <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img
              src="https://i.ibb.co/T0r5M2H/logo-ong.png"
              alt=""
              style="max-width: 100px; max-height: 50px"
            />
          </a>
          <button
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent"
            data-bs-toggle="collapse"
            type="button"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contato">Contato</a>
              </li>

              <li class="nav-item">
                <button class="btn-donate">
                  <a class="nav-link" href="/donation">Doar</a>
                </button>
              </li>

              {{#if user}}
              <li class="nav-item">
                <a class="nav-link" href="/profile">Minha Conta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Sair</a>
              </li>
              {{else}}
              <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="register">Cadastro</a>
              </li>
              {{/if}}
            </ul>
          </div>
        </div>
      </nav>
    <!--/Menú-->

    <!--Info Entidade-->
    <h1 id="contactpage-title">Contato</h1>
    <p class="info-contato">
      <img id="icontel" src="https://i.ibb.co/qnhR4xL/icontel.png" alt="#" />(41)99808-9060
    </p>
    <p class="info-contato">
      <img id="iconemail" src="https://i.ibb.co/bBc8j76/iconemail.png" alt="" />
      cemvezesmais2022@gmail.com
    </p>
    <p class="info-contato">
      <img id="iconendereco" src="https://i.ibb.co/D8XhwLk/iconendereco.png" alt="" /> Av. Marginal
      José de Anchieta, nº 488, Bairro Vila Guarani, Cep:83.408-010, Colombo –
      PR.
    </p>
    <!--/Info Entidade-->

    <!--Mapa-->
    <div class="mapBox">
      <iframe
        id="mapsize"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3604.915820244819!2d-49.1926248!3d-25.3741376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce8bab6ca8409%3A0xa4c4ed9af290707c!2sAv.%20Marginal%20Jos%C3%A9%20de%20Anchieta%2C%20488%20-%20Guarani%2C%20Colombo%20-%20PR%2C%2083408-010!5e0!3m2!1spt-BR!2sbr!4v1697918946994!5m2!1spt-BR!2sbr"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <!--/Mapa-->

    <!--Formulário-->
    <div class="form-container">
      <div class="form">
        <form
          action="https://formsubmit.co/ajax/sensorenchenteads1@gmail.com"
          method="POST"
          data-form
        >
          <div class="form-header">
            <div>
              <h1 id="form-title">Fale conosco!</h1>
            </div>

            <div class="input-box">
              <label for="nome"></label>
              <input
                type="text"
                name="nome"
                id="nome"
                placeholder="Nome"
                required
              />
            </div>
            <div class="input-box">
              <label for="email"></label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="E-mail"
                required
              />
            </div>
            <!--<div class="input-box">
              <label for="subject"></label>
              <input
                type="text"
                name="from"
                id="subject"
                placeholder="título"
              />
            </div>-->
            <div class="input-box">
              <label for="mensagem"></label>
              <textarea
                name="mensagem"
                id="mensagem"
                class="input-message"
                placeholder="Digite sua mensagem"
                required
              ></textarea>
            </div>
            <div class="form-button">
            <!--  <input type="submit" value="Send" data-button /> -->
              <button type="submit"  data-button>Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--/Formulário-->

    <!--Rodapé-->
    <footer>
      <div class="footer-content">
        <div id="contacts">
          <!-- Texto do rodapé -->
          <img class="logo-footer" src="https://i.ibb.co/T0r5M2H/logo-ong.png" alt="logo-footer" />

          <!-- social links -->
          <div id="social_links">
            <a href="https://instagram.com/projetosocial100vezesmais?igshid=MzMyNGUyNmU2YQ==" class="footer-link" id="instagram">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>

        <!-- Lista de links-->
        <ul class="footer-list">
				<li>
					<h3>Mapa do Site</h3>
				</li>
				<li>
					<a href="/" class="footer-link">Início</a>
				</li>
				<li>
					<a href="/gallery" class="footer-link">Galeria</a>
				</li>
				<li>
					<a href="/contato" class="footer-link">Contato</a>
				</li>
				<li>
					<a href="/donation" class="footer-link">Doar</a>
				</li>
			</ul>

        <!-- Lista de links do blog-->
        <ul class="footer-list">
          <li>
            <h3>Informações</h3>
          </li>
          <li>
            <a href="/termosDeUso" class="footer-link">Termos de Uso</a>
          </li>
          <li>
            <a href="/privacidade" class="footer-link">Política de Privacidade</a>
          </li>
			  </ul>
      </div>

      <!-- Direitos autorais-->
      <div class="copyright">
        Cem Vezes Mais © 2023 todos direitos reservados
      </div>
    </footer>
    <!--/Rodapé-->

    <!--Acessibilidade Libras-->
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>
    <!--/Acessibilidade Libras-->

    <!--JS-Submit-->
    <script >
    class FormSubmit {
      constructor(settings) {
        this.settings = settings
        this.form = document.querySelector(settings.form)
        this.formButton = document.querySelector(settings.button)
        if (this.form) {
          this.url = this.form.getAttribute('action')
        }
        this.sendForm = this.sendForm.bind(this)
      }

      displaySuccess() {
        this.form.innerHTML = this.settings.success
      }

      displayError() {
        this.form.innerHTML = this.settings.error
      }

      getFormObject() {
        const formObject = {}
        const fields = this.form.querySelectorAll('[name]')
        fields.forEach(field => {
          formObject[field.getAttribute('name')] = field.value
        })
        return formObject
      }

      onSubmission(event) {
        event.preventDefault()
        event.target.disabled = true
        event.target.innerText = 'Enviando...'
      }

      async sendForm(event) {
        try {
          this.onSubmission(event)
          await fetch(this.url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              Accept: 'application/json'
            },
            body: JSON.stringify(this.getFormObject())
          })
          this.displaySuccess()
        } catch (error) {
          this.displayError()
          throw new Error(error)
        }
      }

      init() {
    if (this.form) this.formButton.addEventListener('click', this.sendForm)
    return this
  }
    }

    const formSubmit = new FormSubmit({
      form: '[data-form]',
      button: '[data-button]',
      success: "<h1 class='success'>Mensagem enviada!</h1>",
      error: "<h1 class='error'>Não foi possível enviar sua mensagem.</h1>"
    })
    formSubmit.init()

    </script>
    <!--JS-Submit-->

    <!--JS Acessibilidade-->
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
      new window.VLibras.Widget('https://vlibras.gov.br/app')
    </script>
    <!--JS Bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
