<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/privacidade.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="icon" type="image/x-icon" href="https://i.ibb.co/T0r5M2H/logo-ong.png">
    <title>Início</title>
</head>
<body>
<!-- navegação -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning ">
		<div class="container">
			<a class="navbar-brand" href="/">
                <img src="https://i.ibb.co/HTcvrMt/logo-ong.png" alt="" style="max-width: 100px; max-height: 50px;">
            </a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/">Início</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/gallery">Galeria</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contato">Contato</a>
					</li>

					<li class="nav-item">
						<button class="btn-donate"><a class="nav-link" href="/donation">Doar</a></button>
					</li>

          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Minha Conta</a>
          </li >
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Sair</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">Cadastro</a>
          </li>
          {{/if}}

				</ul>
			</div>
		</div>
	</nav>


    <main>
		<h1><strong>POLÍTICA DE PRIVACIDADE — Cem vezes mais</strong></h1>
        <div class="privacidade-container">
            <p>A cem vezes mais, pessoa jurídica de direito privado, inscrita no CNPJ/MF sob o nº 05.549.770/0001-01 (“Lojista” ou “nós”) leva a sua privacidade a sério e zela pela segurança e proteção de dados de todos os seus clientes, parceiros, fornecedores e qualquer outro site, Loja, aplicativo operado pelo Lojista (aqui designados, simplesmente, “Loja”).</p>

            <p>Esta Política de Privacidade (“Política de Privacidade”) destina-se a informá-lo sobre o modo como nós utilizamos e divulgamos informações coletadas em suas visitas à nossa Loja e em mensagens que trocamos com você (“Comunicações”).</p>

			<p>AO ACESSAR A LOJA, ENVIAR COMUNICAÇÕES OU FORNECER QUALQUER TIPO DE DADO PESSOAL, VOCÊ DECLARA ESTAR CIENTE E DE ACORDO COM ESTA POLÍTICA DE PRIVACIDADE, A QUAL DESCREVE AS FINALIDADES E FORMAS DE TRATAMENTO DE SEUS DADOS PESSOAIS QUE VOCÊ DISPONIBILIZAR NA LOJA.</p>

			<p>Esta Política de Privacidade fornece uma visão geral de nossas práticas de privacidade e das escolhas que você pode fazer, bem como direitos que você pode exercer em relação aos Dados Pessoais tratados por nós. Se você tiver alguma dúvida sobre o uso de Dados Pessoais, entre em contato com cemvezesmais2022@gmail.com </p>
			<p>Além disso, a Política de Privacidade não se aplica a quaisquer aplicativos, produtos, serviços, site ou recursos de mídia social de terceiros que possam ser oferecidos ou acessados por meio da Loja. O acesso a esses links fará com que você deixe a Loja e possa resultar na coleta ou compartilhamento de informações sobre você por terceiros. Nós não controlamos, endossamos ou fazemos quaisquer representações sobre esses sites de terceiros ou suas práticas de privacidade, que podem ser diferentes das nossas. Recomendamos que você revise a política de privacidade de qualquer site com o qual você interaja antes de permitir a coleta e o uso de seus Dados Pessoais.</p>
			<p>Caso você nos envie Dados Pessoais referentes a outras pessoas físicas, você declara ter a competência para fazê-lo e declara ter obtido o consentimento necessário para autorizar o uso de tais informações nos termos desta Política de Privacidade.</p>

			<h2>Definições</h2>
			<p>Para os fins desta Política de Privacidade:</p>
			<ul>
				<li>“Dados Pessoais” significa qualquer informação que, direta ou indiretamente, identifique ou possa identificar uma pessoa natural, como por exemplo, nome, CPF, data de nascimento, endereço IP, dentre outros;</li>
				<li>“Dados Pessoais Sensíveis” significa qualquer informação que revele, em relação a uma pessoa natural, origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico;</li>
				<li>“Tratamento de Dados Pessoais” significa qualquer operação efetuada no âmbito dos Dados Pessoais, por meio de meios automáticos ou não, tal como a recolha, gravação, organização, estruturação, armazenamento, adaptação ou alteração, recuperação, consulta, utilização, divulgação por transmissão, disseminação ou, alternativamente, disponibilização, harmonização ou associação, restrição, eliminação ou destruição. Também é considerado Tratamento de Dados Pessoais qualquer outra operação prevista nos termos da legislação aplicável;</li>
				<li>“Leis de Proteção de Dados” significa todas as disposições legais que regulem o Tratamento de Dados Pessoais, incluindo, porém sem se limitar, a Lei nº 13.709/18, Lei Geral de Proteção de Dados Pessoais (“LGPD”).</li>
			</ul>

			<h2>Uso de dados</h2>
			<p>Coletamos e usamos Dados Pessoais para gerenciar seu relacionamento conosco e melhor atendê-lo quando você estiver adquirindo produtos e/ou serviços na Loja, personalizando e melhorando sua experiência. Exemplos de como usamos os dados incluem:</p>
			<ul>
				<li>Viabilizar que você adquira produtos e/ou serviços na Loja;</li>
				<li>Para confirmar ou corrigir as informações que temos sobre você;</li>
				<li>Para enviar informações que acreditamos ser do seu interesse;</li>
				<li>Para personalizar sua experiência de uso da Loja;</li>
				<li>Para personalizar o envio de publicidades para você, baseada em seu interesse em nossa Loja;</li>
				<li>Para entrarmos em contato por um número de telefone e/ou endereço de e-mail fornecido. Podemos entrar em contato com você pessoalmente, por mensagem de voz, através de equipamentos de discagem automática, por mensagens de texto (SMS), por e-mail, ou por qualquer outro meio de comunicação que seu dispositivo seja capaz de receber, nos termos da lei e para fins comerciais razoáveis.</li>
			</ul>

			<p>Além disso, os Dados Pessoais fornecidos também podem ser utilizados na forma que julgarmos necessária ou adequada: (a) nos termos das Leis de Proteção de Dados; (b) para atender exigências de processo judicial; (c) para cumprir decisão judicial, decisão regulatória ou decisão de autoridades competentes, incluindo autoridades fora do país de residência; (d) para proteger nossas operações; (e) para proteger direitos, privacidade, segurança nossos, seus ou de terceiros; (f) para detectar e prevenir fraude; (g) permitir-nos usar as ações disponíveis ou limitar danos que venhamos a sofrer; (h) de outros modos permitidos por lei.</p>
			
			<h2>Não fornecimento de Dados Pessoais</h2>
			<p>Você não é obrigado a compartilhar os Dados Pessoais que solicitamos, no entanto, se você optar por não os compartilhar, em alguns casos, não poderemos fornecer a você acesso completo à Loja, alguns recursos especializados ou ser capaz de prestar a assistência necessária ou, ainda, viabilizar a entrega do produto ou prestar o serviço contratado por você.</p>

			<h2>Segurança dos Dados Pessoais</h2>
			<p>Buscamos adotar as medidas técnicas e organizacionais previstas pelas Leis de Proteção de Dados adequadas para proteção dos Dados Pessoais na nossa organização. Infelizmente, nenhuma transmissão ou sistema de armazenamento de dados tem a garantia de serem 100% seguros. Caso tenha motivos para acreditar que sua interação conosco tenha deixado de ser segura (por exemplo, caso acredite que a segurança de qualquer uma de suas contas foi comprometida), favor nos notificar imediatamente.</p>

			<h2>Links de hipertexto para outros sites e redes sociais</h2>
			<p>A Loja poderá, de tempos a tempos, conter links de hipertexto que redirecionará você para sites das redes dos nossos parceiros, anunciantes, fornecedores etc. Se você clicar em um desses links para qualquer um desses sites, lembramos que cada site possui as suas próprias práticas de privacidade e que não somos responsáveis por essas políticas. Consulte as referidas políticas antes de enviar quaisquer Dados Pessoais para esses sites.</p>
			<p>Não nos responsabilizamos pelas políticas e práticas de coleta, uso e divulgação (incluindo práticas de proteção de dados) de outras organizações, tais como Facebook, Apple, Google, Microsoft, ou de qualquer outro desenvolvedor de software ou provedor de aplicativo, Loja de mídia social, sistema operacional, prestador de serviços de internet sem fio ou fabricante de dispositivos, incluindo todos os Dados Pessoais que divulgar para outras organizações por meio dos aplicativos, relacionadas a tais aplicativos, ou publicadas em nossas páginas em mídias sociais. Nós recomendamos que você se informe sobre a política de privacidade de cada site visitado ou de cada prestador de serviço utilizado.</p>

			<h2>Atualizações desta Política de Privacidade</h2>
			<p>Se modificarmos nossa Política de Privacidade, publicaremos o novo texto na Loja, com a data de revisão atualizada. Podemos alterar esta Política de Privacidade a qualquer momento. Caso haja alteração significativa nos termos dessa Política de Privacidade, podemos informá-lo por meio das informações de contato que tivermos em nosso banco de dados ou por meio de notificação em nossa Loja.</p>

        </div>
    </main>
    

	
	<!-- footer-->
	<footer>
		<div class="footer-content">
			<div id="contacts">
				<!-- Texto do rodapé -->
				<img class="logo-footer" src="https://i.ibb.co/HTcvrMt/logo-ong.png" alt="logo-footer">
	
				<!-- social links -->
				<div id="social_links">
					<a href="https://instagram.com/projetosocial100vezesmais?igshid=MzMyNGUyNmU2YQ==" class="footer-link" id="instagram">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</div>
			</div>
			
			
			<!-- Lista de links-->
			<ul class="footer-list">
				<li>
					<h3>Mapa do Site</h3>
				</li>
				<li>
					<a href="/" class="footer-link">Início</a>
				</li>
				<li>
					<a href="/gallery" class="footer-link">Galeria</a>
				</li>
				<li>
					<a href="/contato" class="footer-link">Contato</a>
				</li>
				<li>
					<a href="/donation" class="footer-link">Doar</a>
				</li>
			</ul>
	
			<!-- Lista de links do blog-->
			<ul class="footer-list">
          <li>
            <h3>Informações</h3>
          </li>
          <li>
            <a href="/termosDeUso" class="footer-link">Termos de Uso</a>
          </li>
          <li>
            <a href="/privacidade" class="footer-link">Política de Privacidade</a>
          </li>
			  </ul>
		</div>
	
		<!-- Direitos autorais-->
		<div class="copyright">
			Cem Vezes Mais © 2023 todos direitos reservados
		</div>
	</footer>
	<div vw class="enabled">
		<div vw-access-button class="active"></div>
		<div vw-plugin-wrapper>
		  <div class="vw-plugin-top-wrapper"></div>
		</div>
	  </div>
	  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
	  <script>
		new window.VLibras.Widget('https://vlibras.gov.br/app');
	</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>