<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/termos.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="icon" type="image/x-icon" href="https://i.ibb.co/T0r5M2H/logo-ong.png">
    <title>Início</title>
</head>
<body>
<!-- navegação -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning ">
		<div class="container">
			<a class="navbar-brand" href="/">
                <img src="https://i.ibb.co/HTcvrMt/logo-ong.png" alt="" style="max-width: 100px; max-height: 50px;">
            </a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/">Início</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/gallery">Galeria</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contato">Contato</a>
					</li>

					<li class="nav-item">
						<button class="btn-donate"><a class="nav-link" href="/donation">Doar</a></button>
					</li>

          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Minha Conta</a>
          </li >
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Sair</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">Cadastro</a>
          </li>
          {{/if}}

				</ul>
			</div>
		</div>
	</nav>


    <main>
		<h1><strong>TERMOS DE USO — Cem vezes mais</strong></h1>
        <div class="termos-container">

           	<p> Ao navegar neste website, consideramos que você está de acordo com os Termos de Uso abaixo.</p>

            <p>Caso você não esteja de acordo com as condições deste contrato, pedimos que não faça mais uso deste website, muito menos cadastre-se ou envie os seus dados pessoais.</p>

            <p>Se modificarmos nossos Termos de Uso, publicaremos o novo texto neste website, com a data de revisão atualizada. Podemos alterar este documento a qualquer momento. Caso haja alteração significativa nos termos deste contrato, podemos informá-lo por meio das informações de contato que tivermos em nosso banco de dados ou por meio de notificações.</p>

            <p>A utilização deste website após as alterações significa que você aceitou os Termos de Uso revisados. Caso, após a leitura da versão revisada, você não esteja de acordo com seus termos, favor encerrar o seu acesso.</p>

            <h2>Seção 1 - Usuário</h2>
            <p>A utilização deste website atribui de forma automática a condição de Usuário e implica a plena aceitação de todas as diretrizes e condições incluídas nestes Termos.</p>

            <h2>Seção 2 - Adesão em conjunto com a Política de Privacidade</h2>
            <p>A utilização deste website acarreta a adesão aos presentes Termos de Uso e a versão mais atualizada da Política de Privacidade de 100 vezes mais.</p>

            <h2>Seção 3 - Condições de acesso</h2>
            <p>Em geral, o acesso ao website da 100 vezes mais possui caráter gratuito e não exige prévia inscrição ou registro.

            Contudo, para usufruir de algumas funcionalidades, o usuário poderá precisar efetuar um cadastro, criando uma conta de usuário com login e senha próprios para acesso.

            É de total responsabilidade do usuário fornecer apenas informações corretas, autênticas, válidas, completas e atualizadas, bem como não divulgar o seu login e senha para terceiros.

            Partes deste website oferecem ao usuário a opção de publicar comentários em determinadas áreas. 100 vezes mais não consente com a publicação de conteúdos que tenham natureza discriminatória, ofensiva ou ilícita, ou ainda infrinjam direitos de autor ou quaisquer outros direitos de terceiros.

            A publicação de quaisquer conteúdos pelo usuário deste website, incluindo mensagens e comentários, implica em licença não-exclusiva, irrevogável e irretratável, para sua utilização, reprodução e publicação pela 100 vezes mais no seu website, plataformas e aplicações de internet, ou ainda em outras plataformas, sem qualquer restrição ou limitação.</p>

            <h2>Seção 4 - Cookies</h2>
            <p>Informações sobre o seu uso neste website podem ser coletadas a partir de cookies. Cookies são informações armazenadas diretamente no computador que você está utilizando. Os cookies permitem a coleta de informações tais como o tipo de navegador, o tempo despendido no website, as páginas visitadas, as preferências de idioma, e outros dados de tráfego anônimos. Nós e nossos prestadores de serviços utilizamos informações para proteção de segurança, para facilitar a navegação, exibir informações de modo mais eficiente, e personalizar sua experiência ao utilizar este website, assim como para rastreamento online. Também coletamos informações estatísticas sobre o uso do website para aprimoramento contínuo do nosso design e funcionalidade, para entender como o website é utilizado e para auxiliá-lo a solucionar questões relevantes.

            Caso não deseje que suas informações sejam coletadas por meio de cookies, há um procedimento simples na maior parte dos navegadores que permite que os cookies sejam automaticamente rejeitados, ou oferece a opção de aceitar ou rejeitar a transferência de um cookie (ou cookies) específico(s) de um site determinado para o seu computador. Entretanto, isso pode gerar inconvenientes no uso do website.

            As definições que escolher podem afetar a sua experiência de navegação e o funcionamento que exige a utilização de cookies. Neste sentido, rejeitamos qualquer responsabilidade pelas consequências resultantes do funcionamento limitado deste website provocado pela desativação de cookies no seu dispositivo (incapacidade de definir ou ler um cookie).</p>

            <h2>Seção 5 - Propriedade Intelectual</h2>
            <p>Todos os elementos de 100 vezes mais são de propriedade intelectual da mesma ou de seus licenciados. Estes Termos ou a utilização do website não concede a você qualquer licença ou direito de uso dos direitos de propriedade intelectual da 100 vezes mais ou de terceiros.</p>
            
            <h2>Seção 6 - Links para sites de terceiros</h2>
            <p>Este website poderá, de tempos a tempos, conter links de hipertexto que redirecionará você para sites das redes dos nossos parceiros, anunciantes, fornecedores etc. Se você clicar em um desses links para qualquer um desses sites, lembre-se que cada site possui as suas próprias práticas de privacidade e que não somos responsáveis por essas políticas. Consulte as referidas políticas antes de enviar quaisquer Dados Pessoais para esses sites.

            Não nos responsabilizamos pelas políticas e práticas de coleta, uso e divulgação (incluindo práticas de proteção de dados) de outras organizações, tais como Facebook, Apple, Google, Microsoft, ou de qualquer outro desenvolvedor de software ou provedor de aplicativo, loja de mídia social, sistema operacional, prestador de serviços de internet sem fio ou fabricante de dispositivos, incluindo todos os Dados Pessoais que divulgar para outras organizações por meio dos aplicativos, relacionadas a tais aplicativos, ou publicadas em nossas páginas em mídias sociais. Nós recomendamos que você se informe sobre a política de privacidade e termos de uso de cada site visitado ou de cada prestador de serviço utilizado.</p>

            <h2>Seção 7 - Prazos e alterações</h2>
            <p>O funcionamento deste website se dá por prazo indeterminado.

            O website no todo ou em cada uma das suas seções, pode ser encerrado, suspenso ou interrompido unilateralmente por 100 vezes mais, a qualquer momento e sem necessidade de prévio aviso.</p>

            <h2>Seção 8 - Dados pessoais</h2>
            <p>Durante a utilização deste website, certos dados pessoais serão coletados e tratados por 100 vezes mais e/ou pelos Parceiros. As regras relacionadas ao tratamento de dados pessoais de 100 vezes mais estão estipuladas na Política de Privacidade. </p>

        </div>
    </main>
    

	
	<!-- footer-->
	<footer>
		<div class="footer-content">
			<div id="contacts">
				<!-- Texto do rodapé -->
				<img class="logo-footer" src="https://i.ibb.co/HTcvrMt/logo-ong.png" alt="logo-footer">
	
				<!-- social links -->
				<div id="social_links">
					<a href="https://instagram.com/projetosocial100vezesmais?igshid=MzMyNGUyNmU2YQ==" class="footer-link" id="instagram">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</div>
			</div>
			
			
			<!-- Lista de links-->
			<ul class="footer-list">
				<li>
					<h3>Mapa do Site</h3>
				</li>
				<li>
					<a href="/" class="footer-link">Início</a>
				</li>
				<li>
					<a href="/gallery" class="footer-link">Galeria</a>
				</li>
				<li>
					<a href="/contato" class="footer-link">Contato</a>
				</li>
				<li>
					<a href="/donation" class="footer-link">Doar</a>
				</li>
			</ul>
	
			<!-- Lista de links do blog-->
			<ul class="footer-list">
          <li>
            <h3>Informações</h3>
          </li>
          <li>
            <a href="/termosDeUso" class="footer-link">Termos de Uso</a>
          </li>
          <li>
            <a href="/privacidade" class="footer-link">Política de Privacidade</a>
          </li>
			  </ul>
		</div>
	
		<!-- Direitos autorais-->
		<div class="copyright">
			Cem Vezes Mais © 2023 todos direitos reservados
		</div>
	</footer>
	<div vw class="enabled">
		<div vw-access-button class="active"></div>
		<div vw-plugin-wrapper>
		  <div class="vw-plugin-top-wrapper"></div>
		</div>
	  </div>
	  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
	  <script>
		new window.VLibras.Widget('https://vlibras.gov.br/app');
	</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>